@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&display=swap');

html{
	font-size: 62.5%;
}
body{
	font: 1.6rem 'Roboto Slab',sans-serif; /* 16px 62.5% => 1.000*/
	margin: 0;
    background-color: var(--primary-color);
}
h1,h2,h3,h4,ul,ol,p{
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 200;
}
a{
    text-decoration: none;
    color: #ccc;
}

*{
	box-sizing: border-box;
} 
:root{
     --primary-color:#fafafa; 
     --secondary-color:#141414 ;

}
.dark-theme{
    --primary-color:#1D263B; 
    --secondary-color:#f1eaea ;
    transition: .5s;
}
/* theme css */
header{
    background: #2980b9;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    padding: 5px 100px ;
    margin: auto;
    
 }
 header .nav{
    margin-right: 50px;
 }
 header h1{
    /* text-align: center; */
    line-height: 8rem;
    color: #fff;
 }
 header .logo{
        /* position: absolute; */
        top: .5rem;
        left: 33%;
        z-index: 1;
      }
 #icon {
        width: 5rem;
        cursor: pointer;
        color: white;
        }     
p{
    color: var(--secondary-color);
}
p,ul{
    max-width: 80rem;
    line-height: 2.6rem;
    margin: 2.0rem auto 0;
    background: var(--primary-color);
    border: solid 0.1rem #ccc;
    border-radius: 10px;
    padding: 1.0rem;
    
}
ul li:nth-child(2n+1){
    background: #222;
    color: #fff;
    padding: 0.5rem;
}
main figure{
    max-width: 80rem;
    margin: 1rem auto;
}
figure h2{
    text-align: center;
}
section,footer{
    max-width: 80rem;
    margin: 2.0rem auto;
    background: var(--primary-color);
}
section > h2{
    text-align: center;
    background: #34495e;
    color: #fff;
    line-height: 4.5rem;

}
section > p {
    border: 0;
    padding: 1.0rem;
    margin: 0;

}
.collection{
    max-width: 80rem;
    margin: 5rem auto;
}
.collection ul {
    background-color: var(--primary-color);
}
.collection ul li p{
    border: 0;
    background-color: var(--primary-color);
}

.collection ul li:last-child{
    background-color: transparent;
}
.collection ul li:first-child{
    background-color: #2980b9;
    line-height: 3.5rem;
}
.collection ul li h2{
    text-shadow: -.1rem .1rem 0 #222;
}
section address{
    padding: 0 1.0rem;
}
.collection ul li a{
    display: inline-block;
    width: 20rem;
    line-height: 4rem;
    text-align: center;
    color: #fff;
    background: #164766;
    border-radius: .4rem;
    text-shadow: -.1rem .1rem 0 #222;

}
.collection ul li a:hover{
    font-weight: 500;
    color: #ffffff;
    background: #226b9c;
    text-shadow: none;
}
footer p{
    border: 0;
    text-align: center;
}

/* responsive */
@media screen and (max-width: 98.0rem){
    header .logo{
        width: 9rem;
        height: 9rem;
        margin: 0 auto;
        padding: .5rem;
        position: static;
        display: block;
       
      }
}